<body>
    <h1>Upload Your CSV</h1>
    <form name="form1" method="POST" action="/upload" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Upload file</td>
                <td>
                    <input type="file" name="csv" accept="application/vnd.ms-excel" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Upload" /></td>
            </tr>
        </table>
    </form>
</body>