header {
    margin-top: -10px;
    margin-left: -10px;
    background-color: #14b1bb;
    padding: 10px 10px;
    line-height: 40px;
    position: fixed;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.05em;
    margin: 0;
    text-transform: uppercase;
    color: rgb(248, 244, 244);
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 11.5px;
}

.container {
    margin-left: 40px;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: rgb(241, 237, 237);
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.header-row-menu {
    display: flex;
    align-items: flex-start;
}

.header-plan {
    margin-left: 150px;
}

.header-category {
    margin-left: 30px;
}